{% load static %}

<!-- Navbar Transparent -->
<nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3  navbar-transparent ">
  <div class="container">
    <a class="navbar-brand  text-white " href="" rel="tooltip" title="Designed and Coded by Creative Tim"
       data-placement="bottom">
      Task Manager System
    </a>
    <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation"
            aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon mt-2">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </span>
    </button>
    <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0 ms-lg-12 ps-lg-5" id="navigation">
      <div class="navbar-nav navbar-nav-hover w-100">
        <li class="nav-item dropdown dropdown-hover mx-2 ms-lg-6">
          <a class="nav-link ps-2 d-flex justify-content-between cursor-pointer align-items-center"
             id="dropdownMenuPages8" data-bs-toggle="dropdown" aria-expanded="false">
            Pages
            <img src="{% static 'img/down-arrow-white.svg' %}" alt="down-arrow" class="arrow ms-1 d-lg-block d-none">
            <img src="{% static 'img/down-arrow-dark.svg' %}" alt="down-arrow" class="arrow ms-1 d-lg-none d-block">
          </a>
          <div class="dropdown-menu dropdown-menu-animation dropdown-md p-3 border-radius-lg mt-0 mt-lg-3"
               aria-labelledby="dropdownMenuPages8">
            <div class="d-none d-lg-block">
              <a href="{% url 'tasks:index' %}" class="dropdown-item border-radius-md">
                <span class="ps-3">Home</span>
              </a>
              <a href="{% url 'tasks:tag-list' %}" class="dropdown-item border-radius-md">
                <span class="ps-3">Tags</span>
              </a>
              <a href="{% url 'tasks:task-list' %}" class="dropdown-item border-radius-md">
                <span class="ps-3">Tasks</span>
              </a>
              <a href="{% url 'tasks:task-type-list' %}" class="dropdown-item border-radius-md">
                <span class="ps-3">Task types</span>
              </a>
              <a href="{% url 'tasks:team-list' %}" class="dropdown-item border-radius-md">
                <span class="ps-3">Teams</span>
              </a>
              <a href="{% url 'tasks:project-list' %}" class="dropdown-item border-radius-md">
                <span class="ps-3">Projects</span>
              </a>
              <a href="{% url 'tasks:position-list' %}" class="dropdown-item border-radius-md">
                <span class="ps-3">Positions</span>
              </a>
              <a href="{% url 'tasks:worker-list' %}" class="dropdown-item border-radius-md">
                <span class="ps-3">Workers</span>
              </a>
            </div>
            <div class="d-lg-none">
              <a href="{% url 'tasks:index' %}" class="dropdown-item border-radius-md">
                <span class="ps-3">Home</span>
              </a>
              <a href="{% url 'tasks:tag-list' %}" class="dropdown-item border-radius-md">
                <span class="ps-3">Tags</span>
              </a>
              <a href="{% url 'tasks:task-list' %}" class="dropdown-item border-radius-md">
                <span class="ps-3">Tasks</span>
              </a>
              <a href="{% url 'tasks:task-type-list' %}" class="dropdown-item border-radius-md">
                <span class="ps-3">Task Types</span>
              </a>
              <a href="{% url 'tasks:team-list' %}" class="dropdown-item border-radius-md">
                <span class="ps-3">Teams</span>
              </a>
              <a href="{% url 'tasks:project-list' %}" class="dropdown-item border-radius-md">
                <span class="ps-3">Projects</span>
              </a>
              <a href="{% url 'tasks:position-list' %}" class="dropdown-item border-radius-md">
                <span class="ps-3">Positions</span>
              </a>
              <a href="{% url 'tasks:worker-list' %}" class="dropdown-item border-radius-md">
                <span class="ps-3">Workers</span>
              </a>

              {% if user.is_authenticated %}
              <li class="nav-item ms-lg-auto">
                <a class="nav-link nav-link-icon me-2" href="#">
                  <i class="fa fa-sign-out me-1"></i>
                  <p class="d-inline text-sm z-index-1 font-bold" data-bs-toggle="tooltip" data-bs-placement="bottom"
                     title="Username"><strong>User: </strong>{{ user.username }}</p>
                </a>

              </li>
              <li class="list-group-item">
                <form action="{% url 'logout' %}" method="post">
                  {% csrf_token %}
                  <button class="btn btn-primary" type="submit">Logout</button>
                </form>
              </li>
              {% else %}
              <li class="nav-item ms-lg-auto">
                <a class="nav-link nav-link-icon me-2" href="{% url 'login' %}">
                  <i class="fa fa-sign-in me-1"></i>
                  <p class="d-inline text-sm z-index-1 font-bold" data-bs-toggle="tooltip" data-bs-placement="bottom"
                     title="Login">Login</p>
                </a>
              </li>
              {% endif %}
            </div>
          </div>
        </li>
      </div>
    </div>
  </div>
</nav>
<!-- End Navbar -->