{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div>
      <h1 class="display-6 font-weight-bold">Positions</h1>
          </div>

    <a class="btn btn-primary" href="{% url 'tasks:position-create' %}">
      + Create Position
    </a>
  </div>
  <div class="card shadow-sm mb-4">
    <div class="card-body">
      <form method="get">
        {{ search_form|crispy }}
        <button class="btn btn-secondary">
          Search
        </button>
      </form>
    </div>
  </div>
  <br>
  {% if position_list %}
    <div class="card shadow-sm">
      <div class="card-body">
        <table class="table">
          <tr>
            <th>Position name</th>
            <th>EDIT</th>
            <th>DELETE</th>
          </tr>
          {% for position in position_list %}
            <tr>
              <td>
                <a href="{% url 'tasks:worker-list' %}?position={{ position.id }}">
                  {{ position.name }}
                </a>
              </td>
              <td>
                <a
                    class="btn btn-sm btn-outline-warning"
                    href="{% url 'tasks:position-update' position.id %}"
                >
                  Edit
                </a>
              </td>
              <td>
                <a
                    class="btn btn-sm btn-outline-danger"
                    href="{% url 'tasks:position-delete' position.id %}"
                >
                  Delete
                </a>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  {% else %}
    <p>There are no positions yet</p>
  {% endif %}
{% endblock %}
