{% extends "base.html" %}

{% block content %}
  <h1>Tasks List</h1>

  {% if selected_tag %}
    <p>Filtered by tag: <strong>{{ selected_tag.name }}</strong></p>
    <p><a href="{% url 'tasks:task-list' %}">Clear filter</a></p>
  {% endif %}

  {% if selected_task_type %}
    <p>Filtered by task type: <strong>{{ selected_task_type.name }}</strong></p>
    <p><a href="{% url 'tasks:task-list' %}">Clear filter</a></p>
  {% endif %}

  {% if task_list %}
    <ul>
      {% for task in task_list %}
        <li>
          <a href="#"></a>
          {{ task.name }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no tasks</p>
  {% endif %}
{% endblock %}