{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div>
      <h1 class="display-6 font-weight-bold">Task Types</h1>
          </div>

    <a class="btn btn-primary" href="{% url 'tasks:task-type-create' %}">
      + Create Task Type
    </a>
  </div>
  <div class="card shadow-sm mb-4">
    <div class="card-body">
      <form method="get">
        {{ search_form|crispy }}
        <button class="btn btn-secondary">
          Search
        </button>
      </form>
    </div>
  </div>
  <br>
  {% if task_type_list %}
    <div class="card shadow-sm">
      <div class="card-body">
        <table class="table">
          <tr>
            <th>Task type name</th>
            <th>EDIT</th>
            <th>DELETE</th>
          </tr>
          {% for task_type in task_type_list %}
            <tr>
              <td>
                <a href="{% url 'tasks:task-list' %}?task_type={{ task_type.id }}">
                  {{ task_type.name }}
                </a>
              </td>
              <td>
                <a
                    class="btn btn-sm btn-outline-warning"
                    href="{% url 'tasks:task-type-update' task_type.id %}"
                >
                  Edit
                </a>
              </td>
              <td>
                <a
                    class="btn btn-sm btn-outline-danger"
                    href="{% url 'tasks:task-type-delete' task_type.id %}"
                >
                  Delete
                </a>
              </td>
            </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  {% else %}
    <p>There are no task types</p>
  {% endif %}
{% endblock %}