{% extends "base.html" %}

{% block content %}
  <h1>Workers List</h1>

  {% if selected_position %}
    <p>Filtered by position: <strong>{{ selected_position.name }}</strong></p>
    <p><a href="{% url 'tasks:worker-list' %}">Clear filter</a></p>
  {% endif %}

  {% if selected_team %}
    <p>Filtered by team: <strong>{{ selected_team.name }}</strong></p>
    <p><a href="{% url 'tasks:worker-list' %}">Clear filter</a></p>
  {% endif %}

  {% if worker_list %}
    <ul>
      {% for worker in worker_list %}
        <li>
          <a href="{{ worker.get_absolute_url }}">
          {{ worker.first_name }} {{ worker.last_name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no workers</p>
  {% endif %}
{% endblock %}